:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
    --color-text:#333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--vt-c-white-soft);
    transition: color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#app {
    margin: 0 auto;
    height: 100vh;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
}
.login-container{height: 100%;background: #2e6da4;}
.login-panel{margin:auto; top: 0;left: 0;right: 0;bottom: 0;position: absolute;}
.login-panel .glyphicon {top: 0;}
.login-panel{width: 300px;height: 240px;}
.login-panel .input-group{margin:10px 0;}
.login-panel .panel-body{padding: 10px;}
#login-btn{width: 200px; margin: 0 40px;}